# Cambiar el nombre del archivo a .env

# llenar los campos con tus propios datos
BD_NOMBRE=bienesraices_node_mvc
BD_USER=
BD_PASS=
BD_HOST=localhost

# sacar estos datos de la pagina mailtrap.io para el envio de emails
EMAIL_HOST = 
EMAIL_PORT = 
EMIAL_USER = 
EMAIL_PASS = 

BACKEND_URL=http://localhost
JWT_SECRET=tupalabrasupersecretaaaa222